<h1>Editing Contact</h1>

<%= render 'form', contact: @contact %> <!-- Ismetama ta pati contacto forma kuria leidzia koreguoti -->

<%= link_to 'Show', @contact %> <!-- Linkas i show puslapi-->
<%= link_to 'Back', contacts_path %> <!-- Linkas gryzti atgal-->
